//COLORS
$main: #2196f3;
$primary-back: white;
$secondary-back: #f3f7fa;
$primary-text: #4a4a4a;
$secondary-text: #a0b0b9;
$shadow-checkbox: rgba(0, 0, 0, 0.1);
$shadow-card: rgba(0, 0, 0, 0.1);
$checkbox: #9abbce;

//RESOLUTION
$tablet: 768px;
$mobile: 478px;
