//COLORS

$main: #2196F3;
$primary-back: white;
$secondary-back: #F3F7FA;
$primary-text: #4A4A4A;
$secondary-text: #A0B0B9;
$shadow-checkbox: rgba(0, 0, 0, 0.1);
$shadow-card: rgba(0, 0, 0, 0.1);
$checkbox: #9ABBCE;